
export default {
  db:{
    host: 'localhost',
    port: 5432,
    database: 'budget',
    user: 'root',
    password: ''
  },
  salt:"xxxxxx",
  session_secret:'xxxxxxxx',
  aws:{
    access:"",
    token:"", 
  }
};

