
export default {
  db:{
    host: 'localhost',
    port: 5432,
    database: 'budget',
    user: 'root',
    password: ''
  },
  salt:"xxx3rxdsrfs",
  session_secret:'kkkkkkDdasd3',
  file_model:false,
  aws:{ //use to store budget files
    access:"",
    token:"", 
    bucket:"",
    region:""
  }
};

